body {
  color: darkslategray;
}
.container {
  padding: 5em 0em;
}
.button {
  border-radius: 4px;
  margin: 1em 0;
}
.button-primary {
  background-color: #3A6BC3;
}
.table {
  border: 1px solid #3A6BC3;
}
.title {
  color: #3A6BC3;
}
.content {
  color: #DE5E00;
  font-size: 1.1em;
}
input {
  border: 1px solid rgba(34,36,38,.15);
  padding: .5em;
  border-radius: 3px;
}
.invalid {
  border: 1px solid red;
}
#error-message {
  display: none;
}
